<!DOCTYPE html>
<html lang="en">

<head>
    <title>FireDruid</title>
    <meta name="description" content="FireDruid scrapes the front-page headlines of the 15 most popular British news sites and visualises word frequencies in them." />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/nouislider.css') }}" rel="stylesheet" />

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">FireDruid</span><span class="d-none d-lg-block"><img style="max-width: 50%; height: auto" src="{{ url_for('static', filename='img/fire.png') }}" alt="" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#chart">Interactive Charts</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#hourly">Hourly</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#daily">Daily</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#examples">Examples</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#author">Author</a></li>
            </ul>
        </div>
    </nav>


    <!-- Page Content-->
    <div class="container-fluid p-0">

      <!-- Interactive Charts-->
      <section class="resume-section" id="chart">
          <div class="resume-section-content">
              <h2>Interactive Charts</h2>
              <!-- Range: <div id="start-dt"></div> <div id="end-dt"></div>
              <div id="slider"></div> -->
              From: <select style="width: 150px;" class="form-control" name="choose-start" id="choose-start" onchange=";update_everything(document.getElementById('choose-start').value,
                                                                                                                                          document.getElementById('choose-end').value,
                                                                                                                                          document.getElementById('choose-top-n').value);">
                  <!--{%for dt in dates %}
                  <option value="{{dt}}" {% if dt == default_start_date %}{{ "selected" }}{% endif %}>{{dt}}</option>
                  {% endfor %}-->
              </select>

              To:<select style="width: 150px;" class="form-control" name="choose-end" id="choose-end" onchange=";update_everything(document.getElementById('choose-start').value,
                                                                                                                                   document.getElementById('choose-end').value,
                                                                                                                                   document.getElementById('choose-top-n').value);">
                  {%for dt in dates %}
                  <option value="{{dt}}" {% if dt == default_end_date %}{{ "selected" }}{% endif %}>{{dt}}</option>
                  {% endfor %}
              </select>

              Words to show:<select style="width: 50px;" class="form-control" name="choose-top-n" id="choose-top-n" onchange=";update_everything(document.getElementById('choose-start').value,
                                                                                                                            document.getElementById('choose-end').value,
                                                                                                                            document.getElementById('choose-top-n').value);">
                  {%for i in range(3, 11) %}
                  <option value="{{i}}" {% if i == default_top_n %}{{ "selected" }}{% endif %}>{{i}}</option>
                  {% endfor %}
              </select>

              <div class="row">
                  <!-- Trends chart-->
                  <div class="col-sm">
                      <canvas id="interactiveLineChart" width="500px" height="500px"></canvas>
                  </div>
                  <!-- Bar chart-->
                  <div class="col-sm-4">
                      <canvas id="interactiveBarChart" width="500px" height="500px"></canvas>
                  </div>
              </div>
          </div>
      </section>
      <hr class="m-0" />

        <!-- Hourly-->
        <section class="resume-section" id="hourly">
            <div class="resume-section-content">
                <h2>Hourly Charts</h2>
                <p>Frequency of words in the headlines of British news sites. Hourly sampling over a seven-day period.</p>

                <select class="form-control" name="choose-week" id="choose-week" onchange=";change_week(document.getElementById('choose-week').value);">
                    {%for key in week_keys %}
                    <option value="{{key}}">{{key}}</option>
                    {% endfor %}
                </select>

                <div class="row">
                    <!-- Trends chart-->
                    <div class="col-sm">
                        <canvas id="hourlyTrendsChart" width="500px" height="500px"></canvas>
                    </div>
                    <!-- Bar chart-->
                    <div class="col-sm">
                        <canvas id="hourlyTopChart" width="500px" height="500px"></canvas>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />


        <!-- Daily-->
        <section class="resume-section" id="daily">
            <div class="resume-section-content">
                <h2>Daily Charts</h2>
                <p>Frequency of words in the headlines of British news sites. Daily sampling over a thirty-day period.</p>
                <div class="row">
                    <!-- Trends chart-->
                    <div class="col-sm">
                        <canvas id="dailyTrendsChart" width="500px" height="500px"></canvas>
                    </div>
                    <!-- Bar chart-->
                    <div class="col-sm">
                        <canvas id="dailyTopChart" width="500px" height="500px"></canvas>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />


        <!-- Examples-->
        <section class="resume-section" id="examples">
            <div class="resume-section-content">
                <h2>Examples</h2>
                <p>The charts below show the frequency of two words in selected periods:<br>
                "Liverpool" became more common for a couple of days after Liverpool F.C. had won the Premier League on 26 June.<br>
                "black" became more common when the BLM protests started in the Unites States in early June.</p>
                <div class="row">
                    <div class="col-sm">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/example1.png') }}" />
                    </div>
                    <div class="col-sm">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/example2.png') }}" />
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />


        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h2>About</h2>
                <div class="resume-section-content">
                    <p>FireDruid scrapes the front-page headlines of the 15 most popular British news sites once every hour (at half past). <br>
                        The charts show the frequency of words in these headlines after removing common words like "the", "she", "is", etc. </p>
                    Source code: <a href="https://github.com/BenLDN/firedruid" target="_blank">GitHub</a>
                    (<a href="https://github.com/BenLDN/firedruid/blob/master/app_structure.png" target="_blank">app structure</a>,
                    <a href="https://github.com/BenLDN/firedruid/blob/master/db_structure.png" target="_blank">database structure</a>) <br>
                    Front-end template: <a href="https://startbootstrap.com/themes/resume/" target="_blank">Start Bootstrap</a> <br>
                    Logo: <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=304669">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=304669">Pixabay</a> <br>
                    Main packages used:
                    <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>,
                    <a href="https://www.sqlite.org/" target="_blank">SQLite</a>,
                    <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/" target="_blank">BeautifulSoup</a>,
                    <a href="https://pandas.pydata.org/" target="_blank">Pandas</a>,
                    <a href="https://www.chartjs.org/" target="_blank">Chart.js</a> <br>
                    Hosted on <a href="https://www.pythonanywhere.com/" target="_blank">PythonAnywhere</a>
                </div>
            </div>
        </section>
        <hr class="m-0" />


        <!-- Author-->
        <section class="resume-section" id="author">
            <div class="resume-section-content">
                <h2>Author</h2>
                <p>FireDruid was created by Ben Kulcsar</p>
                <a href="https://github.com/BenLDN" target="_blank">GitHub</a> <br>
                <a href="https://uk.linkedin.com/in/benkulcsar" target="_blank">LinkedIn</a>
            </div>
        </section>
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- NoUISlider-->
    <script src="{{ url_for('static', filename='js/nouislider.js') }}"></script>
    <!-- Charts JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript"> {% include "firecharts.js" %} </script>

</body>

</html>
