{% extends "layout.html" %}
{% block page_title %}Top words in the Last Seven Days{% endblock %}
{% block body %}

<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

</head>

<canvas id="myChart" width="600" height="400"></canvas>

<script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.legend.display = false;

      // define the chart data
      var chartData = {

        labels : [{% for label in labels %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{

            fill: true,
            lineTension: 0.1,
            backgroundColor: "#4582EC",
            borderColor: "#4582EC",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#4582EC",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "#4582EC",
            pointHoverBorderColor: "#4582EC",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }

        ]
      }

      // get chart canvas
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,

        options: {
        scales: {
            
            yAxes: [{
            ticks: {
            
                   min: 0,
                   callback: function(value){return value.toFixed(2)+ "%"}
                },  
                scaleLabel: {
                   display: true,
                   labelString: "Word Frequency"
                }
            }]
        }
    }

      });
    </script>

{% endblock %}